<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{url_for('webui.static', filename='images/favicon.ico')}}" type="image/x-icon">
    <title>Vision</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{url_for('webui.static', filename='css/page_first.css')}}">

</head>

<body>
    <div class="sidebar" id="sidebar">
        <a href="#home">Início</a>
        <a href="#sobre">Sobre</a>
        <a href="#servicos">Serviços</a>
        <a href="#contato">Contato</a>
    </div>

    <div class="content">
        <div class="navbar">
            <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; Menu</span>
        </div>
        <h1>Bem-vindo ao Meu Site</h1>
        <p>Este é um exemplo de página com uma sidebar que pode ser aberta e fechada.</p>
    </div>

    <script>
        function openNav() {
            document.getElementById("sidebar").style.width = "250px";
        }

        function closeNav() {
            document.getElementById("sidebar").style.width = "0";
        }
    </script>

</body>

</html>