<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vision</title>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
</head>

<body>

    <div class="container-user-photo">
        <div class="border-gradient"></div>
        <div class="user-photo">
            <img src="../static/images/Logo (4).png" alt="Foto do usuário">
        </div>
    </div>

    <div class="container">
        <div id="progress-bar" style="width: 0%; background-color: rgb(255, 0, 0);"></div>
        <div class="box">

            <img id="logo" src="../static/images/Logo (4).png" alt="Logo">
            <h2>Obter lista de estabelecimentos</h2>
            <form method="post">
                <div class="form-group">
                    <label for="cep">CEP:</label>
                    <input type="text" id="cep" name="cep" oninput="this.value = formatarCEP(this.value)">
                </div>
                <div class="form-group">
                    <label for="tipo">Tipo:</label>
                    <input type="text" id="tipo" name="tipo" required>
                </div>
                <div class="form-group">
                    <button type="submit">Gerar</button>
                </div>

                <div class="status">
                    <h3 id="status"></h3>
                </div>
            </form>

        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="../static/js/ajax_progress.js"></script>
    <script src="../static/js/mask_cep.js"></script>
</body>

</html>
</body>

</html>