<!DOCTYPE html>
<html>
<head>
    <title>Flask Progress Bar</title>
    <style>
        progress {
            width: 300px;
        }
    </style>
    <script>
        function atualizarProgressBar() {
            var progressBar = document.getElementById('progressBar');
            var eventSource = new EventSource('/progresso');

            eventSource.onmessage = function(event) {
                var progresso = parseInt(event.data);
                progressBar.value = progresso;

                if (progresso >= 100) {
                    eventSource.close();
                }
            };
        }

        atualizarProgressBar();
    </script>
</head>
<body>
    <h1>Flask Progress Bar Example</h1>
    <progress id="progressBar" value="0" max="100"></progress>
</body>
</html>
